@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Acme|Comfortaa|Dancing+Script|Lobster+Two|Pacifico');

/* font-family: 'Pacifico', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Lobster Two', cursive; */
